.body__galery {
  background-image: linear-gradient(to right bottom, #373705, #642c00, #9b0016, #b7006e, #5412eb);
  background-repeat: no-repeat;
  background-size: cover;

}



@media (min-width: 768px) {
  #carouselExample {
   width: 80%;
   margin: 0 auto;
  
  }
  .carousel-item img{
   height: 390px;
   margin-top: $espacio-titulos;
  }
}
h1 {
  margin-top: $espacio-titulos;
 
}

.section__1 {
margin-top: $espacio-titulos;

}
@media (min-width: 1200px) {
  #carouselExample {
   width: 70%;
   margin: 0 auto;
  
  }
  .carousel-item img{
   height: 440px;
   margin-top: $espacio-titulos;
  }
}
h1 {
  margin-top: $espacio-titulos;
}




@media (min-width: 768px) {


.section__1 {
margin-top: $espacio-titulos;
width: 76%;
margin: 0 auto;
}


}

@media (min-width: 768px) {


.section__2 {
margin-top: $espacio-titulos;
width: 76%;
margin: 0 auto;
}


}
@media (min-width: 1200px) {


.section__2 {
margin-top: $espacio-titulos;
width: 80%;
margin: 0 auto;
}


}


.concert-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.video-container {
  max-width: 800px; 
  width: 100%;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}